.score {
  position: absolute;
  padding: 10px;
  top: 0px;
  right: 0px;
}

.score-desc {
  float: left;
  font-size: small;
  margin-right: 5px;
}

.score-desc :first-child {
  font-size: medium;
}

.score-num {
  float: right;
  background-color: blue;
  padding: 5px;
  font-size: larger;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
